In [1]:
import pandas as pd
import string
from nltk.corpus import stopwords

In [13]:
pip install nltk

Requirement already satisfied: nltk in /opt/anaconda3/lib/python3.7/site-packages (3.4.5)
Requirement already satisfied: six in /opt/anaconda3/lib/python3.7/site-packages (from nltk) (1.12.0)
Note: you may need to restart the kernel to use updated packages.

In [15]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/kantha/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [2]:
cd Downloads

/Users/kantha/Downloads

In [4]:
df_spam = pd.read_csv('NB.csv', encoding = 'ISO-8859-1')

In [5]:
df_spam.head(10)

   type                                               text
0   ham  Hope you are having a good week. Just checking in
1   ham                            K..give back my thanks.
2   ham        Am also doing in cbe only. But have to pay.
3  spam  complimentary 4 STAR Ibiza Holiday or å£10,000...
4  spam  okmail: Dear Dave this is your final notice to...
5   ham  Aiya we discuss later lar... Pick u up at 4 is...
6   ham                             Are you this much buzy
7   ham                    Please ask mummy to call father
8  spam  Marvel Mobile Play the official Ultimate Spide...
9   ham     fyi I'm at usf now, swing by the room whenever

In [6]:
df_spam.describe()

        type                    text
count   5559                    5559
unique     2                    5156
top      ham  Sorry, I'll call later
freq    4812                      30

In [7]:
df_spam.groupby('type').describe()

      text
     count unique                                                top freq
type
ham   4812   4503                             Sorry, I'll call later   30
spam   747    653  Please call our customer service representativ...    4

In [8]:
df_spam['length'] = df_spam['text'].apply(len)

In [9]:
df_spam.head()

   type                                               text  length
0   ham  Hope you are having a good week. Just checking in      49
1   ham                            K..give back my thanks.      23
2   ham        Am also doing in cbe only. But have to pay.      43
3  spam  complimentary 4 STAR Ibiza Holiday or å£10,000...     150
4  spam  okmail: Dear Dave this is your final notice to...     161

In [10]:
def message_text_process(mess):
    no_punctuation = [char for char in mess if char not in string.punctuation]
    no_punctuation = ''.join(no_punctuation)
    return [word for word in no_punctuation.split() if word.lower() 
            not in stopwords.words('english')]

In [11]:
df_spam['text'].head(5).apply(message_text_process)

0                         [Hope, good, week, checking]
1                                [Kgive, back, thanks]
2                                     [also, cbe, pay]
3    [complimentary, 4, STAR, Ibiza, Holiday, å£100...
4    [okmail, Dear, Dave, final, notice, collect, 4...
Name: text, dtype: object

In [12]:
from sklearn.feature_extraction.text import CountVectorizer #DTM

In [13]:
bag_words = CountVectorizer(analyzer = message_text_process).fit(df_spam['text'])

In [14]:
print(len(bag_words.vocabulary_))

11356

In [15]:
print(bag_words)

CountVectorizer(analyzer=<function message_text_process at 0x1a1f6965f0>,
                binary=False, decode_error='strict',
                dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
                lowercase=True, max_df=1.0, max_features=None, min_df=1,
                ngram_range=(1, 1), preprocessor=None, stop_words=None,
                strip_accents=None, token_pattern='(?u)\\b\\w\\w+\\b',
                tokenizer=None, vocabulary=None)

In [16]:
message_bagwords = bag_words.transform(df_spam['text'])

In [17]:
print(message_bagwords)

  (0, 2254)	1
  (0, 5414)	1
  (0, 6847)	1
  (0, 10943)	1
  (1, 2489)	1
  (1, 4865)	1
  (1, 10332)	1
  (2, 4611)	1
  (2, 5352)	1
  (2, 8719)	1
  (3, 262)	1
  (3, 605)	1
  (3, 1296)	1
  (3, 2244)	1
  (3, 2329)	1
  (3, 2588)	1
  (3, 3523)	1
  (3, 4066)	1
  (3, 5331)	1
  (3, 5554)	1
  (3, 5601)	1
  (3, 7847)	1
  (3, 8343)	1
  (3, 11304)	1
  (4, 224)	1
  :	:
  (5557, 509)	1
  (5557, 965)	1
  (5557, 1721)	1
  (5557, 1777)	1
  (5557, 1778)	1
  (5557, 2403)	1
  (5557, 2404)	1
  (5557, 3278)	1
  (5557, 3397)	2
  (5557, 3486)	1
  (5557, 4454)	1
  (5557, 7076)	1
  (5557, 7594)	1
  (5557, 7688)	1
  (5557, 8015)	1
  (5557, 9120)	1
  (5557, 9755)	1
  (5557, 10077)	1
  (5557, 10637)	1
  (5557, 10715)	1
  (5557, 11121)	1
  (5558, 3627)	1
  (5558, 5243)	1
  (5558, 5867)	1
  (5558, 6606)	1

In [21]:
from sklearn.feature_extraction.text import TfidfTransformer
tfidf_transformer = TfidfTransformer().fit(message_bagwords)

In [22]:
message_tfidf = tfidf_transformer.transform(message_bagwords)

In [23]:
print(message_tfidf.shape)
print(message_tfidf)

(5559, 11356)
  (0, 10943)	0.4379039903544475
  (0, 6847)	0.4079211665788139
  (0, 5414)	0.6229255062832731
  (0, 2254)	0.5037898676138289
  (1, 10332)	0.53343447866409
  (1, 4865)	0.3941617905371652
  (1, 2489)	0.7483876935472058
  (2, 8719)	0.5395126957976536
  (2, 5352)	0.6872527142806397
  (2, 4611)	0.486425490478287
  (3, 11304)	0.2886588513405475
  (3, 8343)	0.26016042466750977
  (3, 7847)	0.26016042466750977
  (3, 5601)	0.26016042466750977
  (3, 5554)	0.2332211897066975
  (3, 5331)	0.20699668006135605
  (3, 4066)	0.2169360073935419
  (3, 3523)	0.32915177840434773
  (3, 2588)	0.2780553934168467
  (3, 2329)	0.2953789049732685
  (3, 2244)	0.24076955349243523
  (3, 1296)	0.32915177840434773
  (3, 605)	0.147541827236046
  (3, 262)	0.32915177840434773
  (4, 8523)	0.2839777476652211
  :	:
  (5557, 10715)	0.11021052039206913
  (5557, 10637)	0.08306947846909804
  (5557, 10077)	0.2120492716727746
  (5557, 9755)	0.2417954431547904
  (5557, 9120)	0.1353368128310807
  (5557, 8015)	0.17033997821294367
  (5557, 7688)	0.2417954431547904
  (5557, 7594)	0.11239526401409226
  (5557, 7076)	0.2120492716727746
  (5557, 4454)	0.21698583423374507
  (5557, 3486)	0.17340848066985723
  (5557, 3397)	0.3092814720540294
  (5557, 3278)	0.2417954431547904
  (5557, 2404)	0.2417954431547904
  (5557, 2403)	0.2417954431547904
  (5557, 1778)	0.22302769851194781
  (5557, 1777)	0.23081701631561713
  (5557, 1721)	0.21698583423374507
  (5557, 965)	0.2417954431547904
  (5557, 509)	0.20107084483360138
  (5557, 508)	0.2417954431547904
  (5558, 6606)	0.5520829471894015
  (5558, 5867)	0.4731191313854887
  (5558, 5243)	0.31376939786554225
  (5558, 3627)	0.6106647786656769

In [26]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(message_tfidf,df_spam['type'] , test_size = 0.2)

In [27]:
from sklearn.naive_bayes import MultinomialNB
spam_detect = MultinomialNB().fit(X_train,y_train)

In [28]:
predicted = spam_detect.predict(X_test)

In [29]:
predicted

array(['spam', 'ham', 'spam', ..., 'ham', 'ham', 'ham'], dtype='<U4')

In [30]:
expected = y_test

from sklearn import metrics
print(metrics.classification_report(expected, predicted))
print(metrics.confusion_matrix(expected, predicted))

              precision    recall  f1-score   support

         ham       0.96      1.00      0.98       960
        spam       1.00      0.74      0.85       152

    accuracy                           0.96      1112
   macro avg       0.98      0.87      0.92      1112
weighted avg       0.97      0.96      0.96      1112

[[960   0]
 [ 39 113]]

In [31]:
from sklearn.metrics import accuracy_score

accuracy_score(expected,predicted)

0.9649280575539568

In [32]:
#Saving
import pickle

pickle.dump(spam_detect, open("spam_model.pkl", "wb" ))

my_scaler = pickle.load(open("spam_model.pkl", "rb" ))

predictions = my_scaler.predict(X_test)